.logo {
  width: 150px;
  margin-bottom: 20px;
}
.logo-img {
  margin-left: none;
}
.logo2-img {
  margin-bottom: 15px;
  margin-left: none;
}

.logos {
display: flex;
align-items: center;
margin-right: 50px;
margin-left: none;
}

.container { /* Container to store the elements of the page. */
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
min-height: 100vh;
padding: 0 20px; 
box-sizing: border-box;
padding-bottom: 200px;

}

.grid-container { /* Container to align the elements of the page horizontally*/ 
   display: grid;
  grid-template-columns: 1fr 2fr fr;
  gap: 20px; 
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 200%;
  padding: 20px; 
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  
}

.header img {
  margin-right: 10px;
}

.nav-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 20px 10px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  color:black
}

.header .nav-button:hover {
  color:rgb(0, 255, 255)
}

.nav-button:focus {
  outline: none;
}

.text {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-left: 120px;
  width: 100%;
  grid-column: 2; 
}

.text-button {
  display: flex;
  background-color: transparent;
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  margin-left: 3px;
}

.text-button:hover {
  color: darkblue;
}

.email-text{
  font-size: inherit;
  font-weight: bold;
  margin-bottom: 10px;
}

.sign-in { /* Container for sign in section */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
  font-weight: bold;
  width: 100%;
  height: auto;
}

.button-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.separator { /* Separator section that positions elements in the middle of the page */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.header-line{
  border: none;
  border-top: 1px solid black;
  width: 100%;
  margin: 0 10px;
  font-weight: bold;
}

.line { /* Line that goes with the OR on the page*/
  border: none;
  border-top: 1px solid #858585c5;
  width: 100%;
  margin: 0 10px;
  font-weight: bold;
}

.or { /* OR text in the middle of the page */
  color: #858585c5;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  
}

.signin {
  display: flex;
}

.lightbulb-section { /* Left section of the page*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  grid-column: 1; 
}

.lightbulb-section img {
  width: 150px;
  height: auto;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
}

.people { /*Right section of the page */ 
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 3;
  
}
.people img {
  width: 400px;
  height: auto;
  max-width: 100%;
}

.email-input { /* section where user inputs email information */
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
  font-size: 16px;
  background-image: url('../Assets/Icons/User.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  width: 100%;
  height: auto;
  outline: none;
}

.terms-text {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  width: 100%;


}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-left: 80px;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.signup {
display: flex;
align-items: center;
border: 2px solid black;
color: white;
background-color: black;
border-radius: 10px;
font-size: 18px;
width: 150px;
height: 40px;
cursor: pointer;
padding: 10px;

}

.signup:hover {
color: cyan;
}

.start-search { /* Style for Start Search button at the bottom of the page. */ 
border: none;
color: white;
background-color: lightseagreen;
border-radius: 20px;
width: 100%;
height: 60px;
margin-top: 50px;
cursor: pointer;

}

.start-search:hover {
color: lightblue;
}