@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: white;
}


.menu-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu {
  display: flex;
  gap: 2rem; /* Adjust as needed to space out items */
  list-style: none;
}

.menuList {
  cursor: pointer;
  position: relative;
}


